$background: #fff;
$font-color: #444;

.EntriesLog {
  font-weight: 400;
  background: $background;
  padding: 0 20px;
  color: $font-color;
}

.EntriesLog__title {
  font-weight: 300;
  margin: 0;
  padding: 30px 0;
  color: #4e5066;
}

.EntriesLog__table {
  width: 100%;
  text-align: center;

  th {
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    padding: 15px 30px;
    background: #4e5066;
  }
  tbody tr {
    background: white;
  }
  td {
    padding: 15px 30px;
    font-weight: 300;
  }
  tr:nth-child(odd) td {
    background: #ebebeb;
  }
  tr:hover td {
    color: white;
    background: #4e5066;
  }
}

.EntriesLog__table--left {
  text-align: left;
}

.EntriesLog__table--right {
  text-align: right;
}
