$dark-purple: #91eae4;

.form {
  max-width: 380px;
  margin: 20% 25px 0 auto;
}

.form__input {
  padding: 5px 10px;
  width: 70px;
  border: 1px solid #eee;
  font-family: 'Montserrat', sans-serif;
}

.form__label {
  display: block;
  text-transform: capitalize;
  margin: 15px 0 5px 0;
}

.form__radios {
  display: flex;
  flex-wrap: nowrap;
}

input[type='radio'] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.form__input__label {
  position: relative;
  display: inline-block;
  padding: 3px 0 0 29px;
  height: 1.5em;
  line-height: 1.5;
  cursor: pointer;
  margin-right: 25px;
}
.form__input__label::before,
.form__input__label::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
}
.form__input__label::before {
  content: ' ';
  border: 2px solid #bdc3c7;
  border-radius: 20%;
}

input[type='radio'] + .form__input__label::before {
  border-radius: 50%;
}

input[type='radio'] + .form__input__label::after {
  content: ' ';
  top: 0.2em;
  left: 0.22em;
  width: 1em;
  height: 1em;
  background: $dark-purple;
  border: 0.2em solid $dark-purple;
  border-radius: 50%;
}
/* :checked */
input[type='radio']:checked + .form__input__label::before {
  background: $dark-purple;
  border-color: $dark-purple;
}
input[type='radio'] + .form__input__label::after {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

input[type='radio']:checked + .form__input__label::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* Transition */
.form__input__label::before,
.form__input__label::after {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.form__bg {
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  height: 100vh;
}

.btn--form {
  margin-top: 15px;
  background: #7f7fd5;

  &:hover {
    background: #86a8e7;
  }
}

.form__link {
  text-decoration: none;
  color: white;
  position: absolute;
  right: 25px;
  top: 10px;
}
