.ShowTaxes {
  margin-top: 28%;
  max-width: 700px;
}

.ShowTaxes__text {
  color: white;
  margin-left: 25px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5;
}

.ShowTaxes__price {
  font-weight: 600;
}

.ShowTaxes__promo {
  margin: 0;
  margin-bottom: 15px;
}

.ShowTaxes__normal {
  margin: 0;
  font-size: 18px;
}

.ShowTaxes__savings {
  margin-top: 60px;
  margin-right: 25px;
  font-size: 39px;
}
