$dark-purple: #91eae4;

.RadioInputs {
  display: flex;
  flex-wrap: nowrap;
}

input[type='radio'] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.RadioInputs__label {
  position: relative;
  display: inline-block;
  padding: 3px 0 0 29px;
  height: 1.5em;
  line-height: 1.5;
  cursor: pointer;
  margin-right: 25px;
}
.RadioInputs__label::before,
.RadioInputs__label::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
}
.RadioInputs__label::before {
  content: ' ';
  border: 2px solid #bdc3c7;
  border-radius: 20%;
}

input[type='radio'] + .RadioInputs__label::before {
  border-radius: 50%;
}

input[type='radio'] + .RadioInputs__label::after {
  content: ' ';
  top: 0.2em;
  left: 0.22em;
  width: 1em;
  height: 1em;
  background: $dark-purple;
  border: 0.2em solid $dark-purple;
  border-radius: 50%;
}

/* :checked */
input[type='radio']:checked + .RadioInputs__label::before {
  background: $dark-purple;
  border-color: $dark-purple;
}
input[type='radio'] + .RadioInputs__label::after {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

input[type='radio']:checked + .RadioInputs__label::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* Transition */
.RadioInputs__label::before,
.RadioInputs__label::after {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
